apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: prometheus-operator-crds
  namespace: flux-releases-region
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: prometheus-operator-crds
      version: "11.0.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-repos
      interval: 5m
  releaseName: prometheus-operator-crds
  targetNamespace: kube-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  test:
    enable: false
  driftDetection:
    mode: enabled
